@import 'styles/utils.scss';

.description {
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  &__text {
    @include dinosaur;
    background-color: $color-pink;
    color: $color-dark-blue;
    border-radius: 25px;
    padding: 1rem;
    mix-blend-mode: multiply;
    text-align: center;
    position: relative;
    width: 100%;

    @include media('>=tablet') {
      padding: 1.5rem;
      font-size: ms(1);
    }

    @include media('>=desktop') {
      padding: 2rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 5px;
      left: 5px;
      background-color: $color-pink;
      mix-blend-mode: screen;
      border-radius: 25px;
      z-index: -2;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 10px;
      left: 10px;
      background-color: $color-dark-blue;
      mix-blend-mode: overlay;
      border-radius: 25px;
      z-index: -1;
    }
  }
}
