@import 'styles/utils.scss';

.description {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  z-index: 1;

  &__text {
    position: relative;
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

    p {
      @include dinosaur;
      background-color: rgba($color-white, 0.75);
      color: $color-dark-blue;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      text-align: center;
      transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

      @include media('>=tablet') {
        padding: 1.5rem;
        font-size: ms(1);
      }

      @include media('>=desktop') {
        padding: 2rem;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -8px;
        left: -8px;
        background-color: $color-pink;
        z-index: -2;
        mix-blend-mode: overlay;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 8px;
        left: 8px;
        background-color: $color-dark-blue;
        z-index: -1;
        mix-blend-mode: overlay;
      }
    }
  }
}
