@import 'styles/utils.scss';

.header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 1;

  &__title {
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    grid-column: 2;
    position: relative;

    &:active {
      top: 1px;
    }

    > h1 {
      @include dinosaur;
      font-size: ms(3);
      color: $color-dark-blue;
      transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
      background-color: rgba($color-white, 0.75);
      padding: 1.125rem;
      isolation: isolate;

      @include media('>=tablet') {
        font-size: ms(4);
        padding: 2rem;
      }

      @include media('>=desktop') {
        font-size: ms(5);
        padding: 3rem;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -8px;
      left: -8px;
      background-color: $color-pink;
      z-index: -2;
      mix-blend-mode: overlay;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 8px;
      left: 8px;
      background-color: $color-dark-blue;
      z-index: -1;
      mix-blend-mode: overlay;
    }
  }
}
