@import 'styles/utils.scss';

.header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  cursor: pointer;
  text-align: center;

  &__title {
    position: relative;
    background-color: $color-pink;
    border-radius: 25px;
    padding: 1.125rem;
    mix-blend-mode: multiply;
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    grid-column: 2;

    @include media('>=tablet') {
      padding: 2rem;
    }

    @include media('>=desktop') {
      padding: 3rem;
    }

    &:active {
      top: 1px;
    }

    > h1 {
      @include dinosaur;
      font-size: ms(3);
      color: $color-dark-blue;
      transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

      @include media('>=tablet') {
        font-size: ms(4);
      }

      @include media('>=desktop') {
        font-size: ms(5);
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 10px;
      left: 10px;
      background-color: $color-pink;
      mix-blend-mode: screen;
      border-radius: 25px;
      z-index: -2;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      background-color: $color-dark-blue;
      mix-blend-mode: overlay;
      border-radius: 25px;
      z-index: -1;
    }
  }
}
