@import '~minireset.css/minireset.css';
@import 'styles/utils.scss';

body, html {
  background-color: $color-white;
}

body {
  @include dinosaur;
  font-size: 16px;
  line-height: 20px;
  background-color: $color-white;
  background-image: url('../../images/bg-pattern.png');
}
