@import '~minireset.css/minireset.css';
@import 'styles/utils.scss';

body, html {
  background-color: $color-white;
}

body {
  @include dinosaur;
  font-size: 16px;
  line-height: 1.333;
  background-color: $color-white;
  background-image: url('../../images/bg-pattern.png');
}

h1, h2, h3 {
  line-height: 1;
}

p {
  > a {
    color: $color-dark-blue;
    text-decoration: underline;
    transition: color 0.2s ease-in;
    position: relative;

    &:hover {
      color: $color-blue;
    }

    &:active {
      top: 1px;
    }
  }
}
