@import 'styles/utils.scss';

.main {
  display: grid;
  grid-template-areas:
    ". . ."
    ". title ."
    ". . .";
  height: 100vh;
}

.title {
  grid-area: title;
  color: $color-koamaru;
  @include dinosaur;
  font-size: 4.5rem;
  line-height: 3.55rem;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    top: 7%;
    left: -10px;
    background-color: rgba($color-olive, 0.5%);
    z-index: -1;
  }
}
