@import url("https://use.typekit.net/afd5hbc.css");

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin interstate() {
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
  @include font-smoothing;
}

@mixin dinosaur() {
  font-family: dinosaur, sans-serif;
  font-weight: 500;
  font-style: normal;
  @include font-smoothing;
}
