$color-black: rgba(12, 25, 42, 1);
$color-pink: rgba(242, 196, 200, 1);
$color-dark-blue: rgba(32, 68, 115, 1);
$color-blue: rgba(48, 124, 191, 1);
$color-white: rgba(242, 242, 242, 1);

$modularscale: (
  base: 1em,
  ratio: 1.333
);
